
body
    {
        background: #e6e6e6;
        color: black;
        font-family: "Trebuchet MS", Tahoma, Helvetica, sans-serif;
        font-size: 9pt;
    }

.hidden
    {
        display: none;
    }

.overline
    {
        border-top: solid thin black;
        padding-top: 10px;
    }

a
    {
        text-decoration: none;
        xfont-weight: bold;
        color: #800000;
    }
a:link
    {
        color: #cc6600;
    }
a:visited
    {
        color: #cc6600;
    }
a:hover
    {
        xcolor: white;
        xbackground-color: #800000;
        text-decoration: underline;
    }
a:active
    {
        xcolor: white;
        xbackground-color: #FF0000;
    }

img {
        /* turns off gaps around images */
        border: 0
    }

/* every page has three divisions: 'title', 'main', 'footer' */

div.title
    {
        border-bottom: solid 1pt black;
    }

h1
    {
        font-size: 250%;
        line-height: 130%;
        color: black;
        font-style: italic;
        font-weight: bold;
        text-transform: lowercase;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

h2
    {
        font-size: 150%;
        line-height: 110%;
        color: #800000;
        font-weight: bold;
        text-transform: lowercase;
        margin-left: -1em;
        margin-top: 5pt;
        margin-bottom: 10pt;
    }

div.main
    {
        padding: 10px;
        margin-left: 20px;
        font-size: 12pt;
        line-height: 1.4;
        margin-top: 6pt;
        margin-bottom: 6pt;
    }

table
    {
        border-spacing: 2px;
            /* spacing in between the table cells (in global background color */
        margin: 0px;
    }

th
    {
        /* padding specifies the inner spacing in the table cell's background color */
        padding: 5px;
        background-color: #bdbdbd;
        font-size: 85%;
    }

td
    {
        /* padding specifies the inner spacing in the table cell's background color */
        padding: 5px;
        background-color: #dedfdf;
        font-size: 85%;
    }

/* If you want the color of table cells to be alternating between rows, uncomment
   this class definition. */
.alt
    {
        background-color: #f7f7f7;
    }

table.actions
    {
        text-align: left;
        border-spacing: 0px;
    }

tr.actions
    {

    }

.actions td
    {
        font-size: 100%;
    }

.tblstat_NEW
    {
        background-color: red;
        color: white;
    }

.tblstat_RESOLVED
    {
        background-color: green;
        color: white;
    }

.tblstat_VERIFIED
    {
        background-color: #006000;
        color: white;
    }

.tblstat_DUNNO
    {
        background-color: #808080;
        color: white;
    }

.tblstat_WORKSFORME
    {
        background-color: #008080;
        color: white;
    }

.tblstat_CLOSED
    {
        background-color: #004000;
        color: white;
    }

.tblstat_CONFIRMED
    {
        background-color: blue;
        color: white;
    }

.tblstat_FEEDBACK
    {
        background-color: #FF00FF;
        color: white;
    }

.tblstat_REOPENED
    {
        background-color: red;
        color: white;
    }

div.footer
    {
        border-top: solid 1pt black;
    }

table.footer
    {
        border-spacing: 0px;
    }

