body.body-brief {
  margin: 0px;
}

a img {
  border: 0px
}

table.tinderbox {
  background-color: white;
  width: 100%
}
table.tinderbox td {
  border: 1px solid gray;
  text-align: center;
}
table.tinderbox th {
  border: 1px solid gray;
}
table.tinderbox-brief {
  border-spacing: 0px;
}
table.tinderbox-brief td, table.tinderbox-brief th {
  border: 1px solid white;
  padding-left: 0;
  padding-right: 0;
  font-size: 80%;
  /*max-width: 3em;
  text-overflow: wrap;
  overflow: hidden;*/
}

table.tinderbox-pivot td, table.tinderbox-pivot th {
  padding: 0px;
}
table.tinderbox-pivot th {
  padding-left:  0.25em;
  padding-right: 0.25em;
}

table.wholepage-brief,
table.wholepage-pivot,
table.wholepage-brief td,
table.wholepage-pivot td {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
table.wholepage-brief #tree_info,
table.wholepage-pivot #tree_info {
    margin: 8;
    padding: 8;
}
span.revauthor-brief {
}
span.revauthor-long-brief {
  font-size: 70%;
}
span.warn-long-brief {
  font-size: 70%;
  color: red;
}

table.tinderbox tr > th:first-child,
table.tinderbox tr > td:first-child {
  position: sticky;
  left: 0;
}

.status0,.status1,.status2,.status3,.status4,.status5,.status6,.status7 {
  background-color: yellow
}
.status10,.status11,.status12,.status13,.status14,.status15,.status16 {
  background-color: gold
}
.status20,.status21 {
  background-color: greenyellow
}
.status100,.status101,.status102,.status103 {
  background-color: lightgreen
}
th.status200,th.status201,th.status202,th.status203 {
  background: url("1afi003r.gif");
  background-color: black;
  color: white
}
th.status200 a,th.status201 a,th.status202 a,th.status203 a {
  color: white
}
.status200,.status201,.status202,.status203 {
  background-color: #a42821;
}
.status300,.status301,.status302,.status303 {
  background-color: lightgray
}
.checkin {
  text-align: center
}
.time {
  text-align: right
}
.time_alt {
  text-align: right;
  background-color: #d3d3d3;
}
.obsolete {
  text-decoration: line-through
}
ul.patchlist {
  list-style-type: none;
  padding: 0;
}
#tree_status {
  font-weight: bold;
  padding: 10px
}
#tree_status span {
  font-size: x-large;
}
#tree_top {
  text-align: center;
  vertical-align: center;
  margin-bottom: 0;
}
#tree_top span {
  font-size: x-large;
  font-weight: bold
}
#tree_info {
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 0;
}
#tree_info td,th {
  border: 1px solid black
}
#checkin_info {
  border: 1px dashed black;
  background-color: white
}
#info_table td {
  vertical-align: top
}

#popup {
  border: 2px solid black;
  background-color: white;
  padding: 0.5em;
  position: fixed;
}

div.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 5; /* sticky for horizontal scrolling */
    display: inline; /* important, otherwise it can't stick as it's too wide */
}

.timenavform, .intervalform, .stylenavform, .statusfilterform {
    display: inline;
}

.group-action-combo-full {
    width: 5em;
}
.group-action-combo-brief {
    width: 3em;
}
.group-action-combo-pivot {
    width: 6em;
}
.colhdr2-pivot {
    padding: 0;
    margin: 0;
}


/*
 * Subversion tooltip (copy in common.css in the test manager).
 */
.tmvcstooltipnew {
  padding:    0px;
  min-width:  50em;
  overflow:   hidden;
  border:     1px black solid;
  background-color: #f9f9f9;
}

/* Copy of tooltip.css in the test manager. */

.tooltip-main {
    width:          100%;
}

.tooltip-inner {
    clear:          both;
    border:         2px solid black;
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    2px;
    padding-bottom: 2px
}

.tmtimelinetooltip {
    font-size:      1em;
}

.tmvcstimeline-highlighted {
    background:     #f0f0f0;
}

.tmvcstimeline h2 {
    clear:          both;
    font-size:      120%;
    background:     #e8e8e8;
    border-bottom:  1px solid #c8c8c8;
    border-radius:  3px;
    margin-left:    0.2em;
    margin-right:   0.2em;
    margin-top:     0.2em;
    margin-bottom:  0.4em;
    padding-left:   0.2em;
    padding-right:  0.2em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
}

.tmvcstimeline dl {
    margin-left:    0.8em;
    margin-right:   0.2em;
    margin-top:     0.2em;
    margin-bottom:  0.8em;
}

.tmvcstimeline dt {
    font-size:      118%;
    padding-left:   0.2em;
    margin-top:     0.1em;
    margin-bottom:  0.0em;
}

.tmvcstimeline dt, .tmvcstimeline :link, .tmvcstimeline :link:visited, .tmvcstimeline :link:hover {
    color:          black;
    text-decoration:  none;
}

.tmvcstimeline :link:hover {
    border:         1px dotted black;
}

.tmvcstimeline-time {
    font-size:      88%;
    margin-right:   0.2em;
}

.tmvcstimeline-time, .tmvcstimeline-author {
    color:          #5858a0;
}

.tmvcstimeline-rev {
    color:          #0000ee;
}

.tmvcstimeline dd {
    padding-left:    2em;
    margin-top:     0.0em;
    margin-bottom:  0.4em;
    color:          #424250;
}

/* This helps highlighting the revision we're showing the tooltip for. */
.tmvcstimeline-highlight, .tmvcstimeline :target, .tmvcstimeline :target + dd {
    background-color: #d8e8ff;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
}

