body {
  background-color: #CCCCCC;
}

table {
  empty-cells: show
}

table.editlist {
  border-spacing: 0px;
  border-collapse: collapse
}

table.editlist td {
  border: 1px solid black
}

table.editlist th {
  border: 0px solid black
}

.obsolete {
  text-decoration: line-through
}

table.history {
  border-collapse: collapse;
}
table.history td, table.history th  {
  border: 1px solid black
}
table.history td {
  vertical-align: top;
}

pre.history-mozconfig {
  background-color: white;
}

.history-value {
  background-color: white;
}

.accordion:before {
  //content: '\2795';  /* heavy plus sign */
  //content: '\ff0b';  /* full width plus sign */
  content: '\25b6'; /* black right-pointing triangle */
}
.active:before {
  //content: '\2796';  /* heavy minus sign */
  //content: '\2212';  /* minus sign */
  content: '\25bc';  /* black down-pointing triangle */
}

