{{>licenseInfo}}
#ifndef ___{{#cppNamespaceDeclarations}}{{this}}_{{/cppNamespaceDeclarations}}Api_{{classname}}_h___
#define ___{{#cppNamespaceDeclarations}}{{this}}_{{/cppNamespaceDeclarations}}Api_{{classname}}_h___
#ifndef RT_WITHOUT_PRAGMA_ONCE
# pragma once
#endif

#include <iprt/cpp/restclient.h>
#include <iprt/cpp/restarray.h>
#include <iprt/cpp/reststringmap.h>
{{#imports}}
{{{import}}}
{{/imports}}


/** @defgroup grp_{{prefix}}_operations API Endpoints
 * Classes containing all the functions for calling API endpoints
 */

{{#cppNamespaceDeclarations}}namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#operations}}

/** @addtogroup {{{baseName}}} {{{baseName}}}
 * @ingroup grp_{{prefix}}_operations
 * @{
 */

{{#operation}}
/**
 * {{classname}}::{{nickname}}() request.
 */
class {{operationIdCamelCase}}Request : public RTCRestClientRequestBase
{
public:
    /** Default constructor. */
    {{operationIdCamelCase}}Request();
    /** Destructor. */
    virtual ~{{operationIdCamelCase}}Request();

private: /* private for now */
    /** Copy constructor. */
    {{operationIdCamelCase}}Request({{operationIdCamelCase}}Request const &a_rThat);
    /** Copy assignment operator. */
    {{operationIdCamelCase}}Request &operator=({{operationIdCamelCase}}Request const &a_rThat);

public:
    /* Overridden methods: */
    virtual int  resetToDefault() RT_NOEXCEPT RT_OVERRIDE;
    virtual const char *getOperationName() const RT_NOEXCEPT RT_OVERRIDE;
    virtual int  xmitPrepare(RTCString *a_pStrPath, RTCString *a_pStrQuery, RTHTTP a_hHttp, RTCString *a_pStrBody) const RT_NOEXCEPT RT_OVERRIDE;
    virtual void xmitComplete(int a_rcStatus, RTHTTP a_hHttp) const RT_NOEXCEPT RT_OVERRIDE;

 {{#vendorExtensions.x-cg-has-enum-parameters}}

    /** @name Enum translator types
     * @{ */
  {{#allParams}}
   {{! This is an almost exact copy of what is in the response class below. Model header also got a variant of it. Keep in sync. }}
   {{#isEnum}}
    {{^vendorExtensions.x-obmcs-enumref}}
    /** Enum for {{name}}. */
    typedef enum k{{enumName}}
    {
        k{{enumName}}Invalid = 0,  /**< Not set or no mapping for the string value.*/
    {{#allowableValues.enumVars}}
        k{{enumName}}_{{name}}, /**< {{value}} */
    {{/allowableValues.enumVars}}
        k{{enumName}}End
    } k{{enumName}};
    /** Enum keeper/translator class. */
    typedef RTCRestStringEnum<k{{enumName}}> {{enumName}};

    {{/vendorExtensions.x-obmcs-enumref}}
   {{/isEnum}}
  {{/allParams}}
    /** @} */
 {{/vendorExtensions.x-cg-has-enum-parameters}}

    /** @name Getters
     * @{ */
{{#allParams}}
    // later: {{{vendorExtensions.x-cg-const-ref-data-type}}}{{{vendorExtensions.x-cg-param-getter}}}(void) const RT_NOEXCEPT { return m_{{paramName}}; }
 {{#vendorExtensions.x-cg-primitive-type}}
    // later: {{this}} {{{vendorExtensions.x-cg-param-getter}}}Value() const RT_NOEXCEPT { return m_{{paramName}}.{{vendorExtensions.x-cg-primitive-value-member}}; }
 {{/vendorExtensions.x-cg-primitive-type}}
{{/allParams}}
    /** @} */

    /** @name Setters
     * @{ */
{{#allParams}}
 {{#vendorExtensions.x-cg-primitive-type}}
    {{operationIdCamelCase}}Request &{{vendorExtensions.x-cg-param-setter}}({{this}} a_Value) RT_NOEXCEPT;
 {{/vendorExtensions.x-cg-primitive-type}}
 {{^vendorExtensions.x-cg-primitive-type}}
    int {{vendorExtensions.x-cg-param-setter}}({{{vendorExtensions.x-cg-const-ref-data-type}}}a_rValue) RT_NOEXCEPT;
  {{^isEnum}}
   {{#vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-param-setter}}(const char *a_pszValue) RT_NOEXCEPT;
   {{/vendorExtensions.x-cg-is-string-type}}
   {{#vendorExtensions.x-cg-is-polymorphic}}
    /** Directly use @a a_pValue as the value for {{paramName}}, transfering ownership and everything. */
    {{operationIdCamelCase}}Request &useAs{{paramName}}({{{dataType}}} *a_pValue) RT_NOEXCEPT;
   {{/vendorExtensions.x-cg-is-polymorphic}}
  {{/isEnum}}
  {{^isListContainer}}
   {{#isEnum}}
    int {{vendorExtensions.x-cg-param-setter}}({{{dataType}}}::Type a_enmValue) RT_NOEXCEPT;
    int {{vendorExtensions.x-cg-param-setter}}(const char *a_pszValue) RT_NOEXCEPT;
   {{/isEnum}}
  {{/isListContainer}}
  {{#isListContainer}}
    /** Append an element to {{paramName}}.
     * @returns IPRT status code.
     * @param a_Value   The value (copied).  */
    int {{vendorExtensions.x-cg-append-to-list}}({{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-append-to-list}}(const char *a_pszValue) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}
    /** Set an element in {{paramName}}.
     * @returns IPRT status code.
     * @param a_idx     The element index.
     * @param a_Value   The value (copied).  */
    int {{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, {{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, const char *a_pszValue) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}
  {{/isListContainer}}
  {{#isMapContainer}}
    /** Sets an element in the map {{paramName}}.
     * @returns IPRT status code.
     * @param a_pszKey  The key.
     * @param a_Value   The value (copied). */
    int {{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, {{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, const char *a_pszValue, size_t a_cchValue = RTSTR_MAX) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}
    /** Unsets an element from the map {{paramName}}.
     * @returns true if anything was removed, false if not found.
     * @param a_pszKey  The key to remove from the map. */
    bool {{vendorExtensions.x-cg-unset-from-map}}(const char *a_pszKey) RT_NOEXCEPT;
  {{/isMapContainer}}
  {{#isContainer}}
    /** Clear content of {{paramName}}. */
    {{operationIdCamelCase}}Request &{{vendorExtensions.x-cg-clear-container}}() RT_NOEXCEPT;
  {{/isContainer}}
 {{/vendorExtensions.x-cg-primitive-type}}
    int {{vendorExtensions.x-cg-param-set-null}}() RT_NOEXCEPT;
 {{^vendorExtensions.x-cg-is-enum-type}}
  {{^vendorExtensions.x-cg-primitive-type}}
    /** Raw (direct) access to the {{paramName}} member, assuming for the purpose of setting.{{#vendorExtensions.x-cg-is-polymorphic}}
     * @warning May return NULL!{{/vendorExtensions.x-cg-is-polymorphic}} */
    {{{dataType}}} *{{vendorExtensions.x-cg-param-raw}}() RT_NOEXCEPT;
  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{#hasMore}}

 {{/hasMore}}
{{/allParams}}
    /** @} */

    /** Parameter bit numbers. */
    enum
    {
        {{#allParams}}kParam_{{paramName}},
        {{/allParams}}kParamEnd /**< Can be used to create mask for all parameters (RT_BIT_64(kParamEnd) - 1). */
    };

    /** @name Accessing the is-set indicators.
     * @{ */
    {{#allParams}}
    bool {{vendorExtensions.x-cg-param-checker}}() const { return RT_BOOL(m_fIsSet & RT_BIT_64(kParam_{{paramName}})); }
    {{/allParams}}
    /** @} */

    /** @name Required parameter indicators.
     * @{ */
    {{#allParams}}
    bool {{vendorExtensions.x-cg-param-is-required}}() const { return {{required}}; }
    {{/allParams}}
    /** @} */

protected:
    /** @name Parameters
     * @{ */
{{#allParams}}
    /** {{{description}}} */
 {{^vendorExtensions.x-cg-is-polymorphic}}
    {{{dataType}}} m_{{paramName}};
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    {{{dataType}}} *m_p{{paramName}};
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/allParams}}
    /** @} */
};
AssertCompile({{operationIdCamelCase}}Request::kParamEnd < 64);


/**
 * {{classname}}::{{nickname}}() response.
 */
class {{operationIdCamelCase}}Response : public RTCRestClientResponseBase
{
public:
    {{operationIdCamelCase}}Response();
    virtual ~{{operationIdCamelCase}}Response();

private: /* private for now */
    {{operationIdCamelCase}}Response({{operationIdCamelCase}}Response const &a_rThat);
    {{operationIdCamelCase}}Response &operator=({{operationIdCamelCase}}Response const &a_rThat);

public:
    /* Overridden methods: */
    virtual void reset() RT_NOEXCEPT RT_OVERRIDE;
    virtual const char *getOperationName() const RT_NOEXCEPT RT_OVERRIDE;
    virtual void consumeBody(const char *a_pchData, size_t a_cbData) RT_NOEXCEPT RT_OVERRIDE;
{{#vendorExtensions.x-cg-binary-body-response-code}}
    virtual int receivePrepare(RTHTTP a_hHttp) RT_NOEXCEPT RT_OVERRIDE;
    virtual void receiveComplete(int a_rcStatus, RTHTTP a_hHttp) RT_NOEXCEPT RT_OVERRIDE;
{{/vendorExtensions.x-cg-binary-body-response-code}}
protected:
    virtual void deserializeBodyFromJsonCursor(RTCRestJsonCursor const &a_rCursor) RT_NOEXCEPT RT_OVERRIDE;
{{#vendorExtensions.x-has-response-headers}}
    virtual int consumeHeader(uint32_t a_uMatchWord, const char *a_pchField, size_t a_cchField,
                              const char *a_pchValue, size_t a_cchValue) RT_NOEXCEPT RT_OVERRIDE;
{{/vendorExtensions.x-has-response-headers}}
public:

    /** @todo override xmitPrepare to set 'Accept' header value? */

{{#vendorExtensions.x-cg-has-enum-headers}}

    /** @name Enum translator types
     * @{ */
 {{#vendorExtensions.x-all-unique-response-headers}}
  {{#x-aur-header}}
  {{! This is an almost exact copy of what is in the request class above. Model header also got a variant of it. Keep in sync. }}
  {{#isEnum}}
    /** Enum for {{name}}. */
    typedef enum k{{enumName}}
    {
        k{{enumName}}Invalid = 0,  /**< Not set or no mapping for the string value.*/
  {{#allowableValues.enumVars}}
        k{{enumName}}_{{name}}, /**< {{value}} */
  {{/allowableValues.enumVars}}
        k{{enumName}}End
    } k{{enumName}};
    /** Enum keeper/translator class. */
    typedef RTCRestStringEnum<k{{enumName}}> {{enumName}};

  {{/isEnum}}
  {{/x-aur-header}}
 {{/vendorExtensions.x-all-unique-response-headers}}
    /** @} */
{{/vendorExtensions.x-cg-has-enum-headers}}

{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-prepped-setter}}
    /**
     * Sets a preallocated and preconfigured object for receiving downloaded data.
     *
     * This must be used if the downloaded data should not be stored in a simple
     * memory buffer insided RTCRestBinaryString.
     *
     * It is also required if a non-default download limit needs to be used.  Please
     * see RTCRestBinaryString::setMaxDownloadSize for current defaults.
     *
     * @returns Previous preconfigured object (ownership returns to caller).
     * @param   a_pPrepped  The prepped object to use.  The ownership is
     *                      transferred given to this class.  This method can be
     *                      called with NULL to reclaim ownership.
     */
    {{{x-aur-datatype}}} *{{{this}}}({{{x-aur-datatype}}} *a_pPrepped) RT_NOEXCEPT;
 {{/x-aur-prepped-setter}}
{{/vendorExtensions.x-all-unique-response-types}}

    /** @name Response object getters.
     * @{ */
{{#vendorExtensions.x-all-unique-response-types}}
    /** Applicable to {{x-aur-response-codes}}. */
    {{{x-aur-datatype}}} const *{{x-aur-getter}}() const RT_NOEXCEPT { return {{{x-aur-member}}}; }
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    /** Applicable to {{x-aur-header-codes}} (header field: {{x-aur-header.baseName}}) */
    {{{x-aur-datatype}}} const *{{x-aur-getter}}() const RT_NOEXCEPT { return {{{x-aur-member}}}; }
{{/vendorExtensions.x-all-unique-response-headers}}
    /** @} */

    /** @name Response object presence checkers.
     * @{ */
{{#vendorExtensions.x-all-unique-response-types}}
    bool {{{x-aur-checker}}}(void) const RT_NOEXCEPT { return {{{x-aur-member}}} != NULL; }
{{/vendorExtensions.x-all-unique-response-types}}
    /** @} */

protected:
    /** @name Response objects - only one will be valid on success.
     * @{ */
{{#vendorExtensions.x-all-unique-response-types}}
    /** Applicable to {{x-aur-response-codes}}. */
    {{{x-aur-datatype}}} *{{{x-aur-member}}};
 {{#x-aur-prepped-member}}
    {{{x-aur-datatype}}} *{{{this}}}; /**< Prepped object for {{{x-aur-member}}}. @sa {{{x-aur-prepped-setter}}}() */
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    /** Applicable to {{x-aur-header-codes}} (header field: {{x-aur-header.baseName}}) */
    {{{x-aur-datatype}}} *{{{x-aur-member}}};
{{/vendorExtensions.x-all-unique-response-headers}}
    /** @} */
};

{{/operation}}


/**
 * API client.
 */
class {{classname}} : public RTCRestClientApiBase
{
public:
    {{classname}}() RT_NOEXCEPT;
    virtual ~{{classname}}();

    /** @name Methods using request objects.
     * @{ */
 {{#operation}}
    /**
     * @brief {{{summary}}}.
     *
  {{#notes}}
     * {{{this}}}
     *
  {{/notes}}
     * @returns a_pResponse->getStatus()
     * @param   a_pResponse Pointer to the response object.
     * @param   a_rRequest  Reference to a request object containing the parameters
     *                      and everything else needed for this API call.
     */
    int {{nickname}}({{operationIdCamelCase}}Response *a_pResponse, {{operationIdCamelCase}}Request const &a_rRequest) RT_NOEXCEPT;

 {{/operation}}
    /** @} */

    /** @name Methods taking parameters
     *  @{ */{{! figure out optional parameters and such if we care... }}
{{#operation}}
    int {{nickname}}({{operationIdCamelCase}}Response *a_pResponse
 {{#allParams}}
  {{#required}}
        , {{{vendorExtensions.x-cg-const-ref-data-type}}}a_{{{paramName}}}
  {{/required}}
  {{^required}}
   {{#vendorExtensions.x-cg-primitive-type}}
        , {{{this}}} const *a_p{{{paramName}}} = NULL
   {{/vendorExtensions.x-cg-primitive-type}}
   {{^vendorExtensions.x-cg-primitive-type}}
        , {{{dataType}}} const *a_p{{{paramName}}} = NULL
   {{/vendorExtensions.x-cg-primitive-type}}
  {{/required}}
 {{/allParams}}
    ) RT_NOEXCEPT;
 {{/operation}}
    /** @} */

    /* Overloaded: */
    virtual const char *getDefaultServerUrl() const RT_NOEXCEPT RT_OVERRIDE;
    virtual const char *getDefaultServerBasePath() const RT_NOEXCEPT RT_OVERRIDE;
 {{#ociReqSign}}
protected:
    virtual int xmitReady(RTHTTP a_hHttp, RTCString const &a_rStrFullUrl, RTHTTPMETHOD a_enmHttpMethod,
                          RTCString const &a_rStrXmitBody, uint32_t a_fFlags) RT_NOEXCEPT RT_OVERRIDE;
public:

    /**
     * Set the OCI request signing key.
     *
     * @returns IPRT status code.
     * @param   a_hKey      The key to use.  (Will retain reference.)
     * @param   a_pszKeyId  The key identifier.
     * @param   a_cchKeyId  The key identifier string length.  Optional.
     */
    int setOciReqSignKey(RTCRKEY a_hKey, const char *a_pszKeyId, size_t a_cchKeyId = RTSTR_MAX) RT_NOEXCEPT;

    /**
     * Set the OCI request signing key.
     *
     * @returns IPRT status code.
     * @param   a_hKey      The key to use.  (Will retain reference.)
     * @param   a_rStrKeyId The key identifier.
     */
    int setOciReqSignKey(RTCRKEY a_hKey, RTCString const &a_rstrKeyId) RT_NOEXCEPT;

protected:
    RTCRKEY     m_hKey;         /**< The signing key. */
    RTCString   m_strKeyId;     /**< The key ID. */
 {{/ociReqSign}}
};
/** @}*/

{{/operations}}

{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */
#endif

