{{>licenseInfo}}

/*********************************************************************************************************************************
*   Header Files                                                                                                                 *
*********************************************************************************************************************************/
#define LOG_GROUP RTLOGGROUP_REST
{{{importPath}}}
#include <iprt/assert.h>
#include <iprt/errcore.h>
#include <iprt/log.h>
#include <iprt/cpp/restoutput.h>

{{#cppNamespaceDeclarations}}namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#operations}}

{{#operation}}

/*********************************************************************************************************************************
*
* Request for {{classname}}::{{nickname}}().
*
*********************************************************************************************************************************/

/**
 * Default constructor.
 */
{{operationIdCamelCase}}Request::{{operationIdCamelCase}}Request()
    : RTCRestClientRequestBase()
{{#allParams}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    , m_p{{paramName}}(NULL)
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/allParams}}
{
{{#allParams}}
 {{#defaultValue}}
  {{#vendorExtensions.x-cg-is-polymorphic}}
# error "Polymorphic object with default value has not been implemented."
  {{/vendorExtensions.x-cg-is-polymorphic}}
    m_{{paramName}} = {{this}};
 {{/defaultValue}}
{{/allParams}}
}


/**
 * Destructor.
 */
{{operationIdCamelCase}}Request::~{{operationIdCamelCase}}Request()
{
{{#allParams}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{paramName}})
    {
        delete m_p{{paramName}};
        m_p{{paramName}} = NULL;
    }
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/allParams}}
}


#if 0 /* no copy stuff at the moment, thank you. */
/**
 * Copy constructor.
 */
{{operationIdCamelCase}}Request::{{operationIdCamelCase}}Request({{operationIdCamelCase}}Request const &a_rThat)
    : RTCRestClientRequestBase(a_rThat)
{{#allParams}}
    , m_{{paramName}}(a_rThat.m_{{paramName}})
{{/allParams}}
{
}


/**
 * Copy assignment operator.
 */
{{operationIdCamelCase}}Request &{{operationIdCamelCase}}Request::operator=({{operationIdCamelCase}}Request const &a_rThat)
{
    RTCRestClientRequestBase::operator=(a_rThat);

{{#allParams}}
    m_{{paramName}} = a_rThat.m_{{paramName}};
{{/allParams}}
    return *this;
}
#endif

/** @todo Add safe assignCopy method. */


/**
 * Reset to default values.
 */
int {{operationIdCamelCase}}Request::resetToDefault() RT_NOEXCEPT
{
    m_fIsSet = 0;
    m_fErrorSet = 0;
    int rcRet = VINF_SUCCESS;
{{#allParams}}
 {{#vendorExtension.x-cg-primitive-type}}
  {{#defaultValue}}
    m_{{paramName}}.assignValue({{this}});
  {{/defaultValue}}
 {{/vendorExtension.x-cg-primitive-type}}
 {{^vendorExtension.x-cg-primitive-type}}
  {{^vendorExtensions.x-cg-is-polymorphic}}
    {
   {{#defaultValue}}
        int rc = m_{{paramName}}.assignCopy({{this}});
   {{/defaultValue}}
   {{^defaultValue}}
        int rc = m_{{paramName}}.resetToDefault();
   {{/defaultValue}}
        if (RT_SUCCESS(rc))
        { /* likely */ }
        else
        {
            rcRet = rc;
            m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
        }
    }
  {{/vendorExtensions.x-cg-is-polymorphic}}
  {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{paramName}})
    {
        delete m_p{{paramName}};
        m_p{{paramName}} = NULL;
    }
  {{/vendorExtensions.x-cg-is-polymorphic}}
 {{/vendorExtension.x-cg-primitive-type}}
{{/allParams}}
    return rcRet;
}


const char *{{operationIdCamelCase}}Request::getOperationName() const RT_NOEXCEPT
{
    return "{{operationIdCamelCase}}";
}


/**
 * Prepare http request.
 */
int {{operationIdCamelCase}}Request::xmitPrepare(RTCString *a_pStrPath, RTCString *a_pStrQuery, RTHTTP a_hHttp, RTCString *a_pStrBody) const RT_NOEXCEPT
{
    /*
     * Path and path parameters.
     */
    static const char g_szPath[] = "{{{path}}}";
{{#hasPathParams}}
    static PATHPARAMDESC const s_aPathParams[] =
    {
{{#pathParams}}
        { RT_STR_TUPLE("{" "{{{baseName}}}" "}"), 0 {{#collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/collectionFormat}}, kParam_{{paramName}}  },
{{/pathParams}}
    };
    PATHPARAMSTATE aPathParamStates[] = { {{#pathParams}} { {{^vendorExtensions.x-cg-is-polymorphic}}&m_{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}{{#vendorExtensions.x-cg-is-polymorphic}}m_p{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}, 0 }, {{/pathParams}} };
    int rc = doPathParameters(a_pStrPath, RT_STR_TUPLE(g_szPath), s_aPathParams, aPathParamStates, RT_ELEMENTS(s_aPathParams));
    AssertRCReturn(rc, rc);
{{/hasPathParams}}
{{^hasPathParams}}
    int rc = a_pStrPath->assignNoThrow(g_szPath, sizeof(g_szPath) - 1);
    AssertRCReturn(rc, rc);
{{/hasPathParams}}
{{#hasQueryParams}}

    /*
     * Query parameters.
     */
    static const QUERYPARAMDESC s_aQueryParams[] =
    {
 {{#queryParams}}
        { "{{{baseName}}}", 0 {{#collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/collectionFormat}}, {{required}}, kParam_{{paramName}} },
 {{/queryParams}}
    };
    RTCRestObjectBase const *apQueryParamObjs[] = { {{#queryParams}}{{^vendorExtensions.x-cg-is-polymorphic}}&m_{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}{{#vendorExtensions.x-cg-is-polymorphic}}m_p{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}, {{/queryParams}} };
    rc = doQueryParameters(a_pStrQuery, s_aQueryParams, apQueryParamObjs, RT_ELEMENTS(s_aQueryParams));
    AssertRCReturn(rc, rc);
{{/hasQueryParams}}
{{#hasHeaderParams}}

    /*
     * Set HTTP header parameters.
     */
    static const HEADERPARAMDESC s_aHeaderParams[] =
    {
 {{#headerParams}}
        { "{{{baseName}}}", 0 {{#collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/collectionFormat}}, {{required}}, kParam_{{paramName}}, {{#vendorExtensions.x-obmcs-header-collection}}true{{/vendorExtensions.x-obmcs-header-collection}} },
 {{/headerParams}}
    };
    RTCRestObjectBase const *apHeaderParamObjs[] = { {{#headerParams}}{{^vendorExtensions.x-cg-is-polymorphic}}&m_{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}{{#vendorExtensions.x-cg-is-polymorphic}}m_p{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}, {{/headerParams}} };
    rc = doHeaderParameters(a_hHttp, s_aHeaderParams, apHeaderParamObjs, RT_ELEMENTS(s_aHeaderParams));
    AssertRCReturn(rc, rc);
{{/hasHeaderParams}}
{{#hasBodyParam}}

    /*
     * Body parameter.
     */
 {{#vendorExtensions.x-consumes-json}}
    rc = RTHttpAddHeader(a_hHttp, "Content-Type", RT_STR_TUPLE("application/json"), RTHTTPADDHDR_F_BACK);
    AssertRCReturn(rc, rc);

    RTCRestOutputToString ToJson(a_pStrBody);
 {{^bodyParam.vendorExtensions.x-cg-is-polymorphic}}
    m_{{bodyParam.paramName}}.serializeAsJson(ToJson);
 {{/bodyParam.vendorExtensions.x-cg-is-polymorphic}}
 {{#bodyParam.vendorExtensions.x-cg-is-polymorphic}}
  {{#bodyParam.required}}
    Assert(m_p{{bodyParam.paramName}});
  {{/bodyParam.required}}
    if (m_p{{bodyParam.paramName}})
        m_p{{bodyParam.paramName}}->serializeAsJson(ToJson);
 {{/bodyParam.vendorExtensions.x-cg-is-polymorphic}}
    AssertReturn(ToJson.finalize(), VERR_NO_MEMORY);
    // level 5 to match what http-curl.cpp uses for request body
    LogRel5(("> {{operationIdCamelCase}}: {{bodyParam.paramName}} = %s\n",
             a_pStrBody->c_str()));
 {{/vendorExtensions.x-consumes-json}}
 {{^vendorExtensions.x-consumes-json}}
  {{#bodyParam.isByteArray}}
    rc = m_{{bodyParam.paramName}}.xmitPrepare(a_hHttp);
    AssertRCReturn(rc, rc);
  {{/bodyParam.isByteArray}}
  {{^bodyParam.isByteArray}}
#error "Unsupported mediaType(s): {{consumes}}"
  {{/bodyParam.isByteArray}}
 {{/vendorExtensions.x-consumes-json}}
{{/hasBodyParam}}
{{^hasBodyParam}}{{^hasFormParams}}
  {{#vendorExtensions.x-is-post-method}}

    /*
     * POST without a body param still needs to provide an empty body
     * and its checksum for authentication purposes.
     */
    rc = RTHttpAddHeader(a_hHttp, "Content-Type", RT_STR_TUPLE("application/json"), RTHTTPADDHDR_F_BACK);
    AssertRCReturn(rc, rc);
  {{/vendorExtensions.x-is-post-method}}
  {{#vendorExtensions.x-is-put-method}}
    {{! should not happen, but "trust but verify" }}
#error "PUT method without body?"
  {{/vendorExtensions.x-is-put-method}}
{{/hasFormParams}}{{/hasBodyParam}}
{{#hasFormParams}}

    /*
     * Form parameters.
     */
    rc = RTHttpAddHeader(a_hHttp, "Content-Type", RT_STR_TUPLE("application/x-www-form-urlencoded; charset=utf-8"),
                         RTHTTPADDHDR_F_BACK);
    AssertRCReturn(rc, rc);

    static const QUERYPARAMDESC s_aFormParams[] =
    {
 {{#formParams}}
        { "{{{baseName}}}", 0 {{#collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/collectionFormat}}, {{required}}, kParam_{{paramName}} },
  {{#isBinary}}
#error "Support for 'binary form' parameters not implemented: {{{baseName}}}"
  {{/isBinary}}
  {{#isByteArray}}
#error "Support for 'byte array' form parameters not implemented: {{{baseName}}}"
  {{/isByteArray}}
  {{#isFile}}
//#error "Support for 'file' form parameters not implemented: {{{baseName}}}" - petstore uses this, fix.
  {{/isFile}}
 {{/formParams}}
    };
    RTCRestObjectBase const *apFormParamObjs[] = { {{#formParams}}{{^vendorExtensions.x-cg-is-polymorphic}}&m_{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}{{#vendorExtensions.x-cg-is-polymorphic}}m_p{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}, {{/formParams}} };
    rc = doQueryParameters(a_pStrBody, s_aFormParams, apFormParamObjs, RT_ELEMENTS(s_aFormParams));
    AssertRCReturn(rc, rc);
 {{#hasBodyParam}}
#error "Cannot have both body parameter and form params."
 {{/hasBodyParam}}
{{/hasFormParams}}
{{#hasCookieParams}}

    /*
     * Cookie parameters.
     */
#error "Cookie parameters has not been implemented yet."
{{/hasCookieParams}}

    RT_NOREF(a_pStrQuery, a_hHttp, a_pStrBody);
    return VINF_SUCCESS;
}


/**
 * Cleanup after http request.
 */
void {{operationIdCamelCase}}Request::xmitComplete(int a_rcStatus, RTHTTP a_hHttp) const RT_NOEXCEPT
{
{{#hasBodyParam}}
 {{^vendorExtensions.x-consumes-json}}
  {{#bodyParam.isByteArray}}
    m_{{bodyParam.paramName}}.xmitComplete(a_hHttp);
  {{/bodyParam.isByteArray}}
 {{/vendorExtensions.x-consumes-json}}
{{/hasBodyParam}}
    RT_NOREF(a_rcStatus, a_hHttp);
}


/*
 * Setters for {{classname}}Request.
 */
{{#allParams}}

 {{#vendorExtensions.x-cg-primitive-type}}
{{operationIdCamelCase}}Request &{{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-setter}}({{this}} a_Value) RT_NOEXCEPT
{
    /** @todo Assert valid input if we've got restrictions. */
    m_{{paramName}}.assignValue(a_Value);
    m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    return *this;
}
 {{/vendorExtensions.x-cg-primitive-type}}
 {{^vendorExtensions.x-cg-primitive-type}}
  {{^isListContainer}}
   {{#isEnum}}
int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-setter}}({{{dataType}}}::Type a_enmValue) RT_NOEXCEPT
{
    {{{dataType}}} obj;
    bool fOk = obj.set(a_enmValue);
    if (RT_UNLIKELY(!fOk))
        return VERR_INVALID_PARAMETER;

    return {{vendorExtensions.x-cg-param-setter}}(obj);
}


   {{/isEnum}}
  {{/isListContainer}}
int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-setter}}({{{vendorExtensions.x-cg-const-ref-data-type}}}a_rValue) RT_NOEXCEPT
{
    /** @todo Assert valid input if we've got restrictions. */
  {{#vendorExtensions.x-cg-is-string-type}}
    int rc = m_{{paramName}}.assignNoThrow(a_rValue);
  {{/vendorExtensions.x-cg-is-string-type}}
  {{^vendorExtensions.x-cg-is-string-type}}
   {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{paramName}})
         delete m_p{{paramName}};
    m_p{{paramName}} = a_rValue.clone();
    int rc = m_p{{paramName}} ? VINF_SUCCESS : VERR_NO_MEMORY;
   {{/vendorExtensions.x-cg-is-polymorphic}}
   {{^vendorExtensions.x-cg-is-polymorphic}}
    int rc = m_{{paramName}}.assignCopy(a_rValue);
   {{/vendorExtensions.x-cg-is-polymorphic}}
  {{/vendorExtensions.x-cg-is-string-type}}
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
        m_fErrorSet &= ~RT_BIT_64(kParam_{{paramName}});
    }
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
  {{#vendorExtensions.x-cg-is-string-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-setter}}(const char *a_pszValue) RT_NOEXCEPT
{
    /** @todo Assert valid input if we've got restrictions. */
    int rc = m_{{paramName}}.assignCopy(a_pszValue);
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
  {{/vendorExtensions.x-cg-is-string-type}}
  {{#vendorExtensions.x-cg-is-polymorphic}}


{{operationIdCamelCase}}Request &{{operationIdCamelCase}}Request::useAs{{paramName}}({{dataType}} *a_pValue) RT_NOEXCEPT
{
    if (m_p{{paramName}})
        delete m_p{{paramName}};
    m_p{{paramName}} = a_pValue;
    if (a_pValue)
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    else
        m_fIsSet &= ~RT_BIT_64(kParam_{{paramName}});
    m_fErrorSet &= ~RT_BIT_64(kParam_{{paramName}});
    return *this;
}
  {{/vendorExtensions.x-cg-is-polymorphic}}
  {{#isListContainer}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-append-to-list}}({{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
   {{! Need specialized string map since input is RTCString rather than RTCRestString }}
   {{#vendorExtensions.x-cg-is-string-type}}
    return {{vendorExtensions.x-cg-append-to-list}}(a_Value.c_str());
   {{/vendorExtensions.x-cg-is-string-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    {{^isEnum}}
    int rc = m_{{paramName}}.appendCopy(a_Value);
    {{/isEnum}}
    {{#isEnum}}
    {{{items.datatype}}} FullValue(a_Value);
    int rc = m_{{paramName}}.appendCopy(FullValue);
    {{/isEnum}}
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
   {{/vendorExtensions.x-cg-is-string-type}}
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-append-to-list}}(const char *a_pszValue) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue);
        if (RT_SUCCESS(rc))
        {
            rc = m_{{paramName}}.append(pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, {{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
   {{! Need specialized string map since input is RTCString rather than RTCRestString }}
   {{#vendorExtensions.x-cg-is-string-type}}
    return {{vendorExtensions.x-cg-set-in-list}}(a_idx, a_Value.c_str());
   {{/vendorExtensions.x-cg-is-string-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    int rc = m_{{paramName}}.insertCopy(a_idx, a_Value);
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
   {{/vendorExtensions.x-cg-is-string-type}}
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, const char *a_pszValue) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue);
        if (RT_SUCCESS(rc))
        {
            rc = m_{{paramName}}.insert(a_idx, pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}
  {{/isListContainer}}
  {{#isMapContainer}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, {{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
    int rc = m_{{paramName}}.putCopy(a_pszKey, a_Value);
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, const char *a_pszValue, size_t a_cchValue /*= RTSTR_MAX*/) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue, a_cchValue);
        if (RT_SUCCESS(rc))
        {
            m_{{paramName}}.put(a_pszKey, pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}


bool {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-unset-from-map}}(const char *a_pszKey) RT_NOEXCEPT
{
    return m_{{paramName}}.remove(a_pszKey);
}
  {{/isMapContainer}}
  {{#isContainer}}


{{operationIdCamelCase}}Request &{{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-clear-container}}() RT_NOEXCEPT
{
    m_{{paramName}}.clear();
    m_fErrorSet &= ~RT_BIT_64(kParam_{{paramName}});
    return *this;
}
  {{/isContainer}}
 {{/vendorExtensions.x-cg-primitive-type}}


int {{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-set-null}}() RT_NOEXCEPT
{
 {{^vendorExtensions.x-cg-is-polymorphic}}
    int rc = m_{{paramName}}.setNull();
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    int rc = m_p{{paramName}} ? m_p{{paramName}}->setNull() : VINF_SUCCESS;
 {{/vendorExtensions.x-cg-is-polymorphic}}
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
        m_fErrorSet &= ~RT_BIT_64(kParam_{{paramName}});
    }
    else
        m_fErrorSet |= RT_BIT_64(kParam_{{paramName}});
    return rc;
}

 {{^vendorExtensions.x-cg-is-enum-type}}
  {{^vendorExtensions.x-cg-primitive-type}}

{{{dataType}}} *{{operationIdCamelCase}}Request::{{vendorExtensions.x-cg-param-raw}}() RT_NOEXCEPT
{
    m_fIsSet |= RT_BIT_64(kParam_{{paramName}});
    return {{^vendorExtensions.x-cg-is-polymorphic}}&m_{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}}{{#vendorExtensions.x-cg-is-polymorphic}}m_p{{paramName}}{{/vendorExtensions.x-cg-is-polymorphic}};
}

  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}

{{/allParams}}
{{#vendorExtensions.x-cg-has-enum-parameters}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

 {{#allParams}}
  {{#isEnum}}
   {{^vendorExtensions.x-obmcs-enumref}}

template<> /*static*/ const RTCRestStringEnumBase::ENUMMAPENTRY
RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Request::k{{enumName}}>::s_aMappingTable[] =
{
   {{#allowableValues.enumVars}}
    { RT_STR_TUPLE({{value}}), (int){{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Request::k{{enumName}}_{{name}} },
   {{/allowableValues.enumVars}}
};
template<> /*static*/ const size_t RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Request::k{{enumName}}>::s_cMappingTable = RT_ELEMENTS(RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Request::k{{enumName}}>::s_aMappingTable);

   {{/vendorExtensions.x-obmcs-enumref}}
  {{/isEnum}}
 {{/allParams}}
 {{#cppNamespaceDeclarations}}
namespace {{this}} {
 {{/cppNamespaceDeclarations}}
{{/vendorExtensions.x-cg-has-enum-parameters}}
{{/operation}}
{{/operations}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

