{{>licenseInfo}}

/*********************************************************************************************************************************
*   Header Files                                                                                                                 *
*********************************************************************************************************************************/
#define LOG_GROUP RTLOGGROUP_REST
{{{importPath}}}
#include <iprt/assert.h>
#include <iprt/err.h>

{{#cppNamespaceDeclarations}}namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#operations}}

{{#operation}}


/*********************************************************************************************************************************
*
* Response from {{classname}}::{{nickname}}().
*
*********************************************************************************************************************************/

/**
 * Default constructor.
 */
{{operationIdCamelCase}}Response::{{operationIdCamelCase}}Response()
    : RTCRestClientResponseBase()
{{#vendorExtensions.x-all-unique-response-types}}
    , {{{x-aur-member}}}(NULL)
 {{#x-aur-prepped-member}}
    , {{{this}}}(NULL)
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    , {{{x-aur-member}}}(NULL)
{{/vendorExtensions.x-all-unique-response-headers}}
{
}


/**
 * Destructor.
 */
{{operationIdCamelCase}}Response::~{{operationIdCamelCase}}Response()
{
    /* Delete response objects: */
{{#vendorExtensions.x-all-unique-response-types}}
    if ({{{x-aur-member}}} != NULL)
    {
 {{#x-aur-prepped-member}}
        if ({{{x-aur-member}}} == {{{this}}})
            {{{this}}} = NULL;
 {{/x-aur-prepped-member}}
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
 {{#x-aur-prepped-member}}
    if ({{{this}}} != NULL)
    {
        delete {{{this}}};
        {{{this}}} = NULL;
    }
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    if ({{{x-aur-member}}} != NULL)
    {
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
{{/vendorExtensions.x-all-unique-response-headers}}
}


#if 0 /* no copy stuff at the moment, thank you. */
/**
 * Copy constructor.
 */
{{operationIdCamelCase}}Response::{{operationIdCamelCase}}Response({{operationIdCamelCase}}Response const &a_rThat)
    : RTCRestClientResponseBase(a_rThat)
{{#vendorExtensions.x-all-unique-response-types}}
    , {{{x-aur-member}}}(a_rThat.{{{x-aur-member}}} ? new {{{x-aur-datatype}}}(*a_rThat.{{{x-aur-member}}}) : NULL)
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    , {{{x-aur-member}}}(a_rThat.{{{x-aur-member}}} ? new {{{x-aur-datatype}}}(*a_rThat.{{{x-aur-member}}}) : NULL)
{{/vendorExtensions.x-all-unique-response-headers}}
{
}


/**
 * Copy assignment operator.
 */
{{operationIdCamelCase}}Response &{{operationIdCamelCase}}Response::operator=({{operationIdCamelCase}}Response const &a_rThat)
{
    RTCRestClientResponseBase::operator=(a_rThat);

{{#vendorExtensions.x-all-unique-response-types}}
    if ({{{x-aur-member}}})
    {
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
    if (a_rThat.{{{x-aur-member}}})
        {{{x-aur-member}}} = new {{{x-aur-datatype}}}(*a_rThat.{{{x-aur-member}}});
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    if ({{{x-aur-member}}})
    {
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
    if (a_rThat.{{{x-aur-member}}})
        {{{x-aur-member}}} = new {{{x-aur-datatype}}}(*a_rThat.{{{x-aur-member}}});
{{/vendorExtensions.x-all-unique-response-headers}}
    return *this;
}
#endif


void {{operationIdCamelCase}}Response::reset() RT_NOEXCEPT
{
    RTCRestClientResponseBase::reset();
{{#vendorExtensions.x-all-unique-response-types}}
  {{#x-aur-prepped-member}}
    if ({{{this}}} != NULL && {{{x-aur-member}}} == {{{this}}})
        {{{x-aur-member}}} = NULL;
    else
  {{/x-aur-prepped-member}}
    if ({{{x-aur-member}}} != NULL)
    {
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-unique-response-headers}}
    if ({{{x-aur-member}}} != NULL)
    {
        delete {{{x-aur-member}}};
        {{{x-aur-member}}} = NULL;
    }
{{/vendorExtensions.x-all-unique-response-headers}}
}


const char *{{operationIdCamelCase}}Response::getOperationName() const RT_NOEXCEPT
{
    return "{{operationIdCamelCase}}";
}


{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-prepped-setter}}

{{{x-aur-datatype}}} *{{operationIdCamelCase}}Response::{{{this}}}({{{x-aur-datatype}}} *a_pPrepped) RT_NOEXCEPT
{
    /* Grab the previous prepped object, clearing it from the regular member if use there already. */
    {{{x-aur-datatype}}} *pRet = {{{x-aur-prepped-member}}};
    if (pRet != NULL && {{{x-aur-member}}} == pRet)
        {{{x-aur-member}}} = NULL;

    /* Set it. */
    {{{x-aur-prepped-member}}} = a_pPrepped;

    return pRet;
}

 {{/x-aur-prepped-setter}}
{{/vendorExtensions.x-all-unique-response-types}}

{{#vendorExtensions.x-has-response-headers}}

int {{operationIdCamelCase}}Response::consumeHeader(uint32_t a_uMatchWord, const char *a_pchField, size_t a_cchField, const char *a_pchValue, size_t a_cchValue) RT_NOEXCEPT
{
    /*
     * Call the parent first.
     */
    int rc = RTCRestClientResponseBase::consumeHeader(a_uMatchWord, a_pchField, a_cchField, a_pchValue, a_cchValue);
    AssertRCReturn(rc, rc);

    /*
     * Since m_rcHttp isn't necessarily set yet, we just have to pick matching
     * headers regardless of status.
     */
 {{#vendorExtensions.x-min-header-name-length}}
  {{#vendorExtensions.x-max-header-name-length}}
    if (a_cchField - (size_t){{vendorExtensions.x-min-header-name-length}} <= (size_t)({{vendorExtensions.x-max-header-name-length}} - {{vendorExtensions.x-min-header-name-length}}))
  {{/vendorExtensions.x-max-header-name-length}}
  {{^vendorExtensions.x-max-header-name-length}}
    if (a_cchField >= {{vendorExtensions.x-min-header-name-length}})
  {{/vendorExtensions.x-max-header-name-length}}
 {{/vendorExtensions.x-min-header-name-length}}
    {
 {{#vendorExtensions.x-all-unique-response-headers}}
  {{^x-aur-header.vendorExtensions.x-obmcs-header-collection}}
        AssertCompile(sizeof("{{{x-aur-header.baseName}}}") <= 256);
        if (   a_uMatchWord == RTHTTP_MAKE_HDR_MATCH_WORD({{{x-aur-match-word-params}}})
            && RTStrNICmpAscii(a_pchField, RT_STR_TUPLE("{{{x-aur-header.baseName}}}")) == 0)
        {
            if (!{{{x-aur-member}}})
            {
                {{{x-aur-member}}} = new (std::nothrow) {{{x-aur-datatype}}}();
                AssertReturn({{{x-aur-member}}} != NULL, VERR_NO_MEMORY);
                return deserializeHeader({{{x-aur-member}}}, a_pchValue, a_cchValue, 0{{#x-aur-header.collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/x-aur-header.collectionFormat}}, "{{{x-aur-header.baseName}}}");
            }
   {{#isListContainer}}
            {{! The values of headers with the same name are join with ',' as separator.  Maps fine to arrays, assuming CSV. }}
            return deserializeHeader({{{x-aur-member}}}, a_pchValue, a_cchValue, RTCRestObjectBase::kToString_Append {{#x-aur-header.collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/x-aur-header.collectionFormat}}, "{{{x-aur-header.baseName}}}");
   {{/isListContainer}}
   {{^isListContainer}}
            addError(VERR_REST_RESPONSE_REPEAT_HEADER_FIELD, "Already saw header field '%s'", "{{{x-aur-header.baseName}}}");
            return VINF_SUCCESS;
   {{/isListContainer}}
        }
  {{/x-aur-header.vendorExtensions.x-obmcs-header-collection}}
  {{#x-aur-header.vendorExtensions.x-obmcs-header-collection}}
        if (   a_cchField >= sizeof("{{{x-aur-header.baseName}}}")
            && RTStrNICmpAscii(a_pchField, RT_STR_TUPLE("{{{x-aur-header.baseName}}}")) == 0)
        {
            if (!{{{x-aur-member}}})
            {
                {{{x-aur-member}}} = new (std::nothrow) {{{x-aur-datatype}}}();
                AssertReturn({{{x-aur-member}}} != NULL, VERR_NO_MEMORY);
            }
            return deserializeHeaderIntoMap({{{x-aur-member}}}, a_pchField + sizeof("{{{x-aur-header.baseName}}}") + 1, a_cchField - sizeof("{{{x-aur-header.baseName}}}") + 1,
                                            a_pchValue, a_cchValue, 0{{#x-aur-header.collectionFormat}}| RTCRestObjectBase::kCollectionFormat_{{this}}{{/x-aur-header.collectionFormat}}, "{{{x-aur-header.baseName}}}");
        }
  {{/x-aur-header.vendorExtensions.x-obmcs-header-collection}}
  {{#hasMore}}

  {{/hasMore}}
 {{/vendorExtensions.x-all-unique-response-headers}}
    }
    return VINF_SUCCESS;
}

{{/vendorExtensions.x-has-response-headers}}

void {{operationIdCamelCase}}Response::consumeBody(const char *a_pchData, size_t a_cbData) RT_NOEXCEPT
{
    if (m_rcHttp < 0)
        return;

    switch (m_rcHttp)
    {
{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-code-switch-labels}}
        {{this}}:
 {{/x-aur-code-switch-labels}}
 {{^x-aur-prepped-member}}
            Assert({{{x-aur-member}}} == NULL);
            deserializeBody(a_pchData, a_cbData, "{{{x-aur-member}}}");
 {{/x-aur-prepped-member}}
 {{#x-aur-prepped-member}}
            Assert({{{x-aur-member}}} == NULL);
            {{{x-aur-member}}} = {{{this}}};
 {{/x-aur-prepped-member}}
            break;
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-notype-response-code-switch-labels}}
        {{this}}: /* no body type */
            break;
{{/vendorExtensions.x-all-notype-response-code-switch-labels}}
    }
    RT_NOREF(a_pchData, a_cbData);
}


void {{operationIdCamelCase}}Response::deserializeBodyFromJsonCursor(RTCRestJsonCursor const &a_rCursor) RT_NOEXCEPT
{
    RT_NOREF(a_rCursor);
    switch (m_rcHttp)
    {
{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-code-switch-labels}}
        {{this}}:
 {{/x-aur-code-switch-labels}}
 {{^x-aur-prepped-member}}
            Assert(strcmp("{{{x-aur-member}}}", a_rCursor.m_pszName) == 0);
  {{^x-aur-response.vendorExtensions.x-cg-is-polymorphic}}
            AssertStmt({{{x-aur-member}}} == NULL, delete {{{x-aur-member}}});
            {{{x-aur-member}}} = new (std::nothrow) {{{x-aur-datatype}}}();
            AssertReturnVoidStmt({{{x-aur-member}}}, m_rcStatus = VERR_NO_MEMORY);
            {{{x-aur-member}}}->deserializeFromJson(a_rCursor);
  {{/x-aur-response.vendorExtensions.x-cg-is-polymorphic}}
  {{#x-aur-response.vendorExtensions.x-cg-is-polymorphic}}
            {{x-aur-datatype}}::deserializePolyInstanceFromJson(a_rCursor, &{{{x-aur-member}}});
  {{/x-aur-response.vendorExtensions.x-cg-is-polymorphic}}
            return;
 {{/x-aur-prepped-member}}
 {{#x-aur-prepped-member}}
            break;
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}
{{#vendorExtensions.x-all-notype-response-code-switch-labels}}
        {{this}}:
            break;
{{/vendorExtensions.x-all-notype-response-code-switch-labels}}
    }
}

{{#vendorExtensions.x-cg-binary-body-response-code}}

int {{operationIdCamelCase}}Response::receivePrepare(RTHTTP a_hHttp) RT_NOEXCEPT
{
    int rc = RTCRestClientResponseBase::receivePrepare(a_hHttp);
    AssertRCReturn(rc, rc);
{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-prepped-member}}

    AssertReturn({{{x-aur-member}}} == NULL, VERR_INVALID_STATE);
    if ({{{this}}} == NULL)
    {
        {{{this}}} = new (std::nothrow) {{{x-aur-datatype}}}();
        AssertReturn({{{this}}}, VERR_NO_MEMORY);
    }
    rc = {{{this}}}->receivePrepare(a_hHttp, {{x-aur-response.code}});
    AssertRCReturn(rc, rc);
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}

    return VINF_SUCCESS;
}


void {{operationIdCamelCase}}Response::receiveComplete(int a_rcStatus, RTHTTP a_hHttp) RT_NOEXCEPT
{
    RTCRestClientResponseBase::receiveComplete(a_rcStatus, a_hHttp);
{{#vendorExtensions.x-all-unique-response-types}}
 {{#x-aur-prepped-member}}

    if ({{{this}}} != NULL)
        {{{this}}}->receiveComplete(a_hHttp);
 {{/x-aur-prepped-member}}
{{/vendorExtensions.x-all-unique-response-types}}
}

{{/vendorExtensions.x-cg-binary-body-response-code}}

{{#vendorExtensions.x-all-unique-response-headers}}
 {{#x-aur-header}}
  {{#isEnum}}
   {{^vendorExtensions.x-obmcs-enumref}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

template<> /*static*/ const RTCRestStringEnumBase::ENUMMAPENTRY
RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Response::k{{enumName}}>::s_aMappingTable[] =
{
   {{#allowableValues.enumVars}}
    { RT_STR_TUPLE({{value}}), (int){{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Response::k{{enumName}}_{{name}} },
   {{/allowableValues.enumVars}}
};
template<> /*static*/ const size_t RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Response::k{{enumName}}>::s_cMappingTable = RT_ELEMENTS(RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{operationIdCamelCase}}Response::k{{enumName}}>::s_aMappingTable);

 {{#cppNamespaceDeclarations}}
namespace {{this}} {
 {{/cppNamespaceDeclarations}}
   {{/vendorExtensions.x-obmcs-enumref}}
  {{/isEnum}}
 {{/x-aur-header}}
{{/vendorExtensions.x-all-unique-response-headers}}

{{/operation}}
{{/operations}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

