{{>licenseInfo}}

/*********************************************************************************************************************************
*   Header Files                                                                                                                 *
*********************************************************************************************************************************/
#include <iprt/log.h>
#include <iprt/cpp/restoutput.h>
{{#models}}
{{{importPath}}}
{{/models}}
{{#models}}
 {{#model}}
 {{#children}}
#include "{{classname}}.h"
 {{/children}}
 {{/model}}
{{/models}}


{{#cppNamespaceDeclarations}}namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#models}}
{{#model}}

/*
 * Implementation of {{classname}}.
 */
{{^vendorExtensions.x-model-primitive-base}}


/**
 * Factory method.
 */
/*static*/ DECLCALLBACK(RTCRestObjectBase *) {{classname}}::createInstance(void)
{
    return new (std::nothrow) {{classname}}();
}


/**
 * Default constructor.
 */
{{classname}}::{{classname}}()
    : {{{vendorExtensions.x-cg-model-base-class}}}()
{{#vars}}
 {{#isNotContainer}}
  {{^vendorExtensions.x-cg-is-polymorphic}}
    , m_{{name}}({{{defaultValue}}})
  {{/vendorExtensions.x-cg-is-polymorphic}}
  {{#vendorExtensions.x-cg-is-polymorphic}}
    , m_p{{name}}(NULL)
  {{/vendorExtensions.x-cg-is-polymorphic}}
 {{/isNotContainer}}
{{/vars}}
{
{{#allVars}}
 {{#discriminatorValue}}
    /* Discriminator: */
    {{setter}}({{{this}}});
 {{/discriminatorValue}}
{{/allVars}}
}


/**
 * Destructor.
 */
{{classname}}::~{{classname}}()
{
{{#vars}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{name}})
    {
        delete m_p{{name}};
        m_p{{name}} = NULL;
    }
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
}


/**
 * Copy constructor.
 */
{{classname}}::{{classname}}({{classname}} const &a_rThat)
    : {{{vendorExtensions.x-cg-model-base-class}}}(a_rThat)
{{#vars}}
 {{^vendorExtensions.x-cg-is-polymorphic}}
    , m_{{name}}(a_rThat.m_{{name}})
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
{
{{#vars}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    if (a_rThat.m_p{{name}})
    {
        m_p{{name}} = ({{datatype}} *)a_rThat.m_p{{name}}->baseClone();
        if (m_p{{name}})
        { /* likely */ }
        else
            throw std::bad_alloc();
    }
    else
        m_p{{name}} = NULL;
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
}


/** Assignment operator. */
{{classname}} &{{classname}}::operator=({{classname}} const &a_rThat)
{
    {{{vendorExtensions.x-cg-model-base-class}}}::operator=(a_rThat);

{{#vars}}
 {{^vendorExtensions.x-cg-is-polymorphic}}
    m_{{name}} = a_rThat.m_{{name}};
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{name}})
    {
        delete m_p{{name}};
        m_p{{name}} = NULL;
    }
    if (a_rThat.m_p{{name}})
    {
        m_p{{name}} = ({{datatype}} *)a_rThat.m_p{{name}}->baseClone();
        if (m_p{{name}})
        { /* likely */ }
        else
            throw std::bad_alloc();
    }
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
    Assert(m_fIsSet == a_rThat.m_fIsSet);
    Assert(m_fNullIndicator == a_rThat.m_fNullIndicator);
    return *this;
}


int {{classname}}::assignCopy({{classname}} const &a_rThat) RT_NOEXCEPT
{
    int rcRet = {{{vendorExtensions.x-cg-model-base-class}}}::assignCopy(a_rThat);
{{#vars}}
 {{#vendorExtensions.x-cg-is-primitive-type}}
    m_{{name}} = a_rThat.m_{{name}};
 {{/vendorExtensions.x-cg-is-primitive-type}}
 {{^vendorExtensions.x-cg-is-primitive-type}}
    {
  {{^vendorExtensions.x-cg-is-polymorphic}}
        int rc = m_{{name}}.assignCopy(a_rThat.m_{{name}});
        if (RT_SUCCESS(rc))
        { /* likely */ }
        else
            rcRet = rc;
  {{/vendorExtensions.x-cg-is-polymorphic}}
  {{#vendorExtensions.x-cg-is-polymorphic}}
        if (m_p{{name}})
        {
            delete m_p{{name}};
            m_p{{name}} = NULL;
        }
        if (a_rThat.m_p{{name}})
        {
            m_p{{name}} = ({{datatype}} *)a_rThat.m_p{{name}}->baseClone();
            if (m_p{{name}})
            { /* likely */ }
            else
                rcRet = VERR_NO_MEMORY;
        }
  {{/vendorExtensions.x-cg-is-polymorphic}}
    }
 {{/vendorExtensions.x-cg-is-primitive-type}}
{{/vars}}
    return rcRet;
}


RTCRestObjectBase *{{classname}}::baseClone() const RT_NOEXCEPT
{
    {{classname}} *pObj = new (std::nothrow) {{classname}}();
    if (pObj)
    {
        int rc = pObj->assignCopy(*this);
        if (RT_SUCCESS(rc))
            return pObj;
        delete pObj;
    }
    return NULL;
}


int {{classname}}::resetToDefault() RT_NOEXCEPT
{
    int rcRet = {{{vendorExtensions.x-cg-model-base-class}}}::resetToDefault();
{{#vars}}
 {{#vendorExtensions.x-cg-is-primitive-type}}
    m_{{name}} = {{{defaultValue}}};
 {{/vendorExtensions.x-cg-is-primitive-type}}
 {{^vendorExtensions.x-cg-is-primitive-type}}
  {{^vendorExtensions.x-cg-is-polymorphic}}
    {
   {{#vendorExtensions.x-cg-is-string-type}}
        int rc = m_{{name}}.assignNoThrow({{{defaultValue}}});
   {{/vendorExtensions.x-cg-is-string-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
        int rc = m_{{name}}.resetToDefault();
   {{/vendorExtensions.x-cg-is-string-type}}
        if (RT_SUCCESS(rc))
        { /* likely */ }
        else
            rcRet = rc;
    }
  {{/vendorExtensions.x-cg-is-polymorphic}}
  {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{name}})
    {
        delete m_p{{name}};
        m_p{{name}} = NULL;
    }
  {{/vendorExtensions.x-cg-is-polymorphic}}
 {{/vendorExtensions.x-cg-is-primitive-type}}
{{/vars}}
{{#allVars}}
 {{#discriminatorValue}}
    /* Discriminator: */
    {
        int rc = {{setter}}({{{this}}});
        if (RT_SUCCESS(rc) || RT_FAILURE(rcRet))
        { /* likely */ }
        else
            rcRet = rc;
    }
 {{/discriminatorValue}}
{{/allVars}}
    return rcRet;
}


const char *{{classname}}::typeName() const RT_NOEXCEPT
{
    return "{{classname}}";
}

{{#hasChildren}}

{{classname}}::kPolyType {{classname}}::getPolyType() const RT_NOEXCEPT
{
    return kPolyTypeParent;
}

{{/hasChildren}}
{{#parent}}

{{classname}}::kPolyType {{classname}}::getPolyType() const RT_NOEXCEPT
{
    return kPolyType_{{classname}};
}


bool {{classname}}::isChild() const RT_NOEXCEPT
{
    return true;
}

{{/parent}}


/*********************************************************************************************************************************
*   Serialization                                                                                                                *
*********************************************************************************************************************************/

RTCRestOutputBase &{{classname}}::serializeMembersAsJson(RTCRestOutputBase &a_rDst) const RT_NOEXCEPT
{
    {{{vendorExtensions.x-cg-model-base-class}}}::serializeMembersAsJson(a_rDst);
{{#vars}}
    if (is{{name}}Set())
    {
        a_rDst.valueSeparatorAndName(RT_STR_TUPLE("{{{baseName}}}"));
 {{^vendorExtensions.x-cg-is-polymorphic}}
        m_{{name}}.serializeAsJson(a_rDst);
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
        if (m_p{{name}})
            m_p{{name}}->serializeAsJson(a_rDst);
        else
            a_rDst.nullValue();
 {{/vendorExtensions.x-cg-is-polymorphic}}
    }
{{/vars}}
    return a_rDst;
}


int {{classname}}::deserializeMemberFromJson(RTCRestJsonCursor const &a_rCursor, size_t a_cchName) RT_NOEXCEPT
{
{{#vars}}
    if (   a_cchName == sizeof("{{baseName}}") - 1
        && memcmp(a_rCursor.m_pszName, RT_STR_TUPLE("{{baseName}}")) == 0)
    {
 {{^vendorExtensions.x-cg-is-polymorphic}}
        int rc = m_{{name}}.deserializeFromJson(a_rCursor);
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
        int rc = {{datatype}}::deserializePolyInstanceFromJson(a_rCursor, &m_p{{name}});
 {{/vendorExtensions.x-cg-is-polymorphic}}
        if (RT_SUCCESS(rc))
            m_fIsSet |= RT_BIT_64(kField_{{name}});
        return rc;
    }
{{/vars}}
    return {{{vendorExtensions.x-cg-model-base-class}}}::deserializeMemberFromJson(a_rCursor, a_cchName);
}

{{#hasChildren}}

/*static*/ int {{classname}}::deserializePolyInstanceFromJson(RTCRestJsonCursor const &a_rCursor, {{classname}} **a_ppInstance) RT_NOEXCEPT
{
    /* No complicated instance reuse at the moment. */
    if (*a_ppInstance)
    {
        delete *a_ppInstance;
        *a_ppInstance = NULL;
    }

    if (RTJsonValueGetType(a_rCursor.m_hValue) == RTJSONVALTYPE_NULL)
    {
        *a_ppInstance = new (std::nothrow) {{classname}}();
        return VINF_SUCCESS;
    }

    /* Get the descriminator field value and match against the child class decriminator values. */
    {{! ASSUMING all  discriminators are strings !}}
    char *pszValue = NULL;
    int rc = RTJsonValueQueryStringByName(a_rCursor.m_hValue, "{{discriminator}}", &pszValue);
    if (RT_SUCCESS(rc))
    {
        {{classname}} *pNew = NULL;
        if (false)
        { }
 {{#children}}
        else if (RTStrCmp(pszValue, {{{vendorExtensions.x-cg-model-discriminator-value}}}) == 0)
            pNew = new (std::nothrow) {{classname}}();
 {{/children}}
        else
            pNew = new (std::nothrow) {{classname}}();
        *a_ppInstance = pNew;
        RTStrFree(pszValue);

        /* Do normal json deserialization on the instance. */
        if (pNew)
            return pNew->deserializeFromJson(a_rCursor);
        return a_rCursor.m_pPrimary->addError(a_rCursor, VERR_NO_MEMORY, "Out of memory in {{classname}}::deserializePolyInstanceFromJson!");
    }
    return a_rCursor.m_pPrimary->addError(a_rCursor, rc, "Error looking up discriminator name '%s': %Rrc", "{{discriminator}}", rc);
}

{{/hasChildren}}

/** @copydoc RTCRestObjectBase::FNDESERIALIZEINSTANCEFROMJSON */
/*static*/ DECLCALLBACK(int)
{{classname}}::deserializeInstanceFromJson(RTCRestJsonCursor const &a_rCursor, RTCRestObjectBase **a_ppInstance) RT_NOEXCEPT
{
{{^hasChildren}}
    *a_ppInstance = new (std::nothrow) {{classname}}();
    if (*a_ppInstance)
        return (*a_ppInstance)->deserializeFromJson(a_rCursor);
    return a_rCursor.m_pPrimary->addError(a_rCursor, VERR_NO_MEMORY, "Out of memory");
{{/hasChildren}}
{{#hasChildren}}
    {{classname}} *pObj = NULL;
    int rc = {{classname}}::deserializePolyInstanceFromJson(a_rCursor, &pObj);
    *a_ppInstance = pObj;
    return rc;
{{/hasChildren}}
}


/*********************************************************************************************************************************
*   Setters                                                                                                                      *
*********************************************************************************************************************************/
{{#vars}}

 {{^vendorExtensions.x-cg-is-enum-type}}
  {{#vendorExtensions.x-cg-primitive-type}}
{{classname}} &{{classname}}::{{setter}}({{this}} a_Value) RT_NOEXCEPT
{
    m_{{name}}.assignValue(a_Value);
    m_fIsSet |= RT_BIT_64(kField_{{name}});
    m_fNullIndicator = false;
    return *this;
}
  {{/vendorExtensions.x-cg-primitive-type}}
  {{^vendorExtensions.x-cg-primitive-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    {{^vendorExtensions.x-cg-is-polymorphic}}
int {{classname}}::{{setter}}({{datatype}} const &a_rValue) RT_NOEXCEPT
{
    int rc = m_{{name}}.assignCopy(a_rValue);
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
    }
    return rc;
}
    {{/vendorExtensions.x-cg-is-polymorphic}}
    {{#vendorExtensions.x-cg-is-polymorphic}}
int {{classname}}::{{setter}}({{datatype}} const &a_rValue) RT_NOEXCEPT
{
    if (m_p{{name}})
        delete m_p{{name}};
    m_p{{name}} = ({{datatype}} *)a_rValue.baseClone();
    if (m_p{{name}})
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
        return VINF_SUCCESS;
    }
    return VERR_NO_MEMORY;
}


{{classname}} &{{classname}}::useAs{{name}}({{datatype}} *a_pValue) RT_NOEXCEPT
{
    if (m_p{{name}})
        delete m_p{{name}};
    m_p{{name}} = a_pValue;
    if (a_pValue)
        m_fIsSet |= RT_BIT_64(kField_{{name}});
    else
        m_fIsSet &= ~RT_BIT_64(kField_{{name}});
    m_fNullIndicator = false;
    return *this;
}
    {{/vendorExtensions.x-cg-is-polymorphic}}
   {{/vendorExtensions.x-cg-is-string-type}}
   {{#vendorExtensions.x-cg-is-string-type}}
int {{classname}}::{{setter}}(RTCString const &a_rValue) RT_NOEXCEPT
{
    int rc = m_{{name}}.assignNoThrow(a_rValue);
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
    }
    return rc;
}


int {{classname}}::{{setter}}(const char *a_pszValue) RT_NOEXCEPT
{
    int rc = m_{{name}}.assignNoThrow(a_pszValue);
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
    }
    return rc;
}
   {{/vendorExtensions.x-cg-is-string-type}}
   {{#isListContainer}}


int {{classname}}::{{vendorExtensions.x-cg-append-to-list}}({{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
   {{! Need specialized string map since input is RTCString rather than RTCRestString }}
   {{#vendorExtensions.x-cg-is-string-type}}
    return {{vendorExtensions.x-cg-append-to-list}}(a_Value.c_str());
   {{/vendorExtensions.x-cg-is-string-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    {{^isEnum}}
    int rc = m_{{name}}.appendCopy(a_Value);
    {{/isEnum}}
    {{#isEnum}}
    {{{items.datatype}}} FullValue(a_Value);
    int rc = m_{{name}}.appendCopy(FullValue);
    {{/isEnum}}
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kField_{{name}});
    return rc;
   {{/vendorExtensions.x-cg-is-string-type}}
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{classname}}::{{vendorExtensions.x-cg-append-to-list}}(const char *a_pszValue) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue);
        if (RT_SUCCESS(rc))
        {
            rc = m_{{name}}.append(pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kField_{{name}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}


int {{classname}}::{{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, {{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
   {{! Need specialized string map since input is RTCString rather than RTCRestString }}
   {{#vendorExtensions.x-cg-is-string-type}}
    return {{vendorExtensions.x-cg-set-in-list}}(a_idx, a_Value.c_str());
   {{/vendorExtensions.x-cg-is-string-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    int rc = m_{{name}}.insertCopy(a_idx, a_Value);
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kField_{{name}});
    return rc;
   {{/vendorExtensions.x-cg-is-string-type}}
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{classname}}::{{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, const char *a_pszValue) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue);
        if (RT_SUCCESS(rc))
        {
            rc = m_{{name}}.insert(a_idx, pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kField_{{name}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}
  {{/isListContainer}}
  {{#isMapContainer}}


int {{classname}}::{{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, {{items.vendorExtensions.x-cg-const-ref-data-type}}a_Value) RT_NOEXCEPT
{
    int rc = m_{{name}}.putCopy(a_pszKey, a_Value);
    if (RT_SUCCESS(rc))
        m_fIsSet |= RT_BIT_64(kField_{{name}});
    return rc;
}
   {{#items.vendorExtensions.x-cg-is-string-type}}


int {{classname}}::{{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, const char *a_pszValue, size_t a_cchValue /*= RTSTR_MAX*/) RT_NOEXCEPT
{
    int rc;
    RTCRestString *pCopy = new (std::nothrow) RTCRestString();
    if (pCopy)
    {
        rc = pCopy->assignNoThrow(a_pszValue, a_cchValue);
        if (RT_SUCCESS(rc))
        {
            m_{{name}}.put(a_pszKey, pCopy);
            if (RT_SUCCESS(rc))
            {
                m_fIsSet |= RT_BIT_64(kField_{{name}});
                return rc;
            }
        }
        delete pCopy;
    }
    else
        rc = VERR_NO_MEMORY;
    return rc;
}
   {{/items.vendorExtensions.x-cg-is-string-type}}


bool {{classname}}::{{vendorExtensions.x-cg-unset-from-map}}(const char *a_pszKey) RT_NOEXCEPT
{
    return m_{{name}}.remove(a_pszKey);
}
   {{/isMapContainer}}
   {{#isContainer}}


{{classname}} &{{classname}}::{{vendorExtensions.x-cg-clear-container}}() RT_NOEXCEPT
{
    m_{{name}}.clear();
    m_fIsSet |= RT_BIT_64(kField_{{name}});
    m_fNullIndicator = false;
    return *this;
}
   {{/isContainer}}
  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{#vendorExtensions.x-cg-is-enum-type}}
{{classname}} &{{classname}}::{{setter}}({{classname}}::k{{enumName}} a_enmValue) RT_NOEXCEPT
{
    m_{{name}}.set(a_enmValue);
    m_fIsSet |= RT_BIT_64(kField_{{name}});
    m_fNullIndicator = false;
    return *this;
}


int {{classname}}::{{setter}}(const char *a_pszValue, size_t a_cchValue /*= RTSTR_MAX*/) RT_NOEXCEPT
{
    int rc = m_{{name}}.setByString(a_pszValue, a_cchValue);
    if (RT_SUCCESS(rc))
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
    }
    return rc;
}


int {{classname}}::{{setter}}(RTCString const &a_rStrzValue) RT_NOEXCEPT
{
    return {{setter}}(a_rStrzValue.c_str(), a_rStrzValue.length());
}

 {{/vendorExtensions.x-cg-is-enum-type}}
 {{^vendorExtensions.x-cg-is-enum-type}}
  {{^vendorExtensions.x-cg-primitive-type}}

{{{datatype}}} *{{classname}}::raw{{name}}() RT_NOEXCEPT
{
 {{^vendorExtensions.x-cg-is-polymorphic}}
    m_fIsSet |= RT_BIT_64(kField_{{name}});
    m_fNullIndicator = false;
    return &m_{{name}};
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    if (m_p{{name}})
    {
        m_fIsSet |= RT_BIT_64(kField_{{name}});
        m_fNullIndicator = false;
    }
    return m_p{{name}};
 {{/vendorExtensions.x-cg-is-polymorphic}}
}

  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}

{{/vars}}


{{#hasEnums}}
/*********************************************************************************************************************************
*   Enum mapping tables.                                                                                                         *
*********************************************************************************************************************************/
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

 {{#vars}}
  {{#isEnum}}
template <> /*static*/ const RTCRestStringEnumBase::ENUMMAPENTRY
RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{classname}}::k{{enumName}}>::s_aMappingTable[] =
{
   {{#allowableValues.enumVars}}
    { RT_STR_TUPLE({{value}}), (int){{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{classname}}::k{{enumName}}_{{name}} },
   {{/allowableValues.enumVars}}
};
template <> /*static*/ const size_t RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{classname}}::k{{enumName}}>::s_cMappingTable = RT_ELEMENTS(RTCRestStringEnum<{{#cppNamespaceDeclarations}}{{this}}::{{/cppNamespaceDeclarations}}{{classname}}::k{{enumName}}>::s_aMappingTable);


  {{/isEnum}}
 {{/vars}}

 {{#cppNamespaceDeclarations}}
namespace {{this}} {
 {{/cppNamespaceDeclarations}}
{{/hasEnums}}
{{/vendorExtensions.x-model-primitive-base}}
{{#vendorExtensions.x-model-primitive-base}}
/** @todo later */
{{/vendorExtensions.x-model-primitive-base}}

{{/model}}{{/models}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */

