{{>licenseInfo}}{{#models}}{{#model}}
#ifndef ___{{#cppNamespaceDeclarations}}{{this}}_{{/cppNamespaceDeclarations}}Model_{{classname}}_h___
#define ___{{#cppNamespaceDeclarations}}{{this}}_{{/cppNamespaceDeclarations}}Model_{{classname}}_h___
#ifndef RT_WITHOUT_PRAGMA_ONCE
# pragma once
#endif
{{/model}}{{/models}}
#include <iprt/cpp/restbase.h>
{{#imports}}
{{{import}}}
{{/imports}}

/** @defgroup grp_{{prefix}}_models Data Structures for API
 * Classes containing all the Data Structures needed for calling/returned by API endpoints.
 */

{{#cppNamespaceDeclarations}}namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{#models}}
{{#model}}

/**
{{#description}}
 * {{{this}}}
{{/description}}
{{^description}}
 * {{classname}}
{{/description}}
 */
{{^vendorExtensions.x-model-primitive-base}}
class {{classname}} : public {{{vendorExtensions.x-cg-model-base-class}}}
{
public:
    /** Factory method. */
    static DECLCALLBACK(RTCRestObjectBase *) createInstance(void);

    /** Default constructor. */
    {{classname}}();
    /** Destructor. */
    virtual ~{{classname}}();

    /** Copy constructor. */
    {{classname}}({{classname}} const &a_rThat);
    /** Assignment operator. */
    {{classname}} &operator=({{classname}} const &a_rThat);
    /** Copy assignment method. */
    int assignCopy({{classname}} const &a_rThat) RT_NOEXCEPT;

    /** Make a clone of this object. */
    inline {{classname}} *clone() const RT_NOEXCEPT { return ({{classname}} *)baseClone(); }

    /* Overridden parent methods: */
    virtual RTCRestObjectBase  *baseClone() const RT_NOEXCEPT RT_OVERRIDE;
    virtual int                 resetToDefault() RT_NOEXCEPT RT_OVERRIDE;
    virtual RTCRestOutputBase  &serializeMembersAsJson(RTCRestOutputBase &a_rDst) const RT_NOEXCEPT RT_OVERRIDE;
    virtual int                 deserializeMemberFromJson(RTCRestJsonCursor const &a_rCursor, size_t a_cchName) RT_NOEXCEPT RT_OVERRIDE;
    virtual const char         *typeName() const RT_NOEXCEPT RT_OVERRIDE;
{{#parent}}
    virtual bool                isChild() const RT_NOEXCEPT RT_OVERRIDE;
    virtual kPolyType           getPolyType() const RT_NOEXCEPT RT_OVERRIDE;
{{/parent}}
    /** Deserialization w/ instantiation (see FNDESERIALIZEINSTANCEFROMJSON). */
    static DECLCALLBACK(int) deserializeInstanceFromJson(RTCRestJsonCursor const &a_rCursor, RTCRestObjectBase **a_ppInstance) RT_NOEXCEPT;
{{#hasChildren}}

    /** Class type for providing an alternative to RTTI for identifying class types. */
    typedef enum kPolyType
    {
        kPolyTypeParent = 0,
 {{#children}}
        kPolyType_{{classname}},
 {{/children}}
        kPolyTypeEnd
    } kPolyType;
    /** Gets the class type. */
    virtual kPolyType getPolyType() const RT_NOEXCEPT;

    /**
     * Polymorphic JSON deserialization helper that instantiate the matching class using
     * the discriminator field ({{discriminator}}).
     *
     * @returns IPRT status code.
     * @param   a_rCursor       The json cursor.
     * @param   a_ppInstance    The pointer to the instance variable to update.  If the
     *                          variable points to an instance of the correct class, it
     *                          may be reused.  Otherwise it will be deleted and replaced
     *                          by one of the class matching the json input.
     */
    static int deserializePolyInstanceFromJson(RTCRestJsonCursor const &a_rCursor, {{classname}} **a_ppInstance) RT_NOEXCEPT;
{{/hasChildren}}

{{#hasEnums}}

    /** @name Enum translator types
     * @{ */
 {{#vars}}
  {{#isEnum}}
    /** Enum for {{name}}. */
    typedef enum k{{enumName}}
    {
        k{{enumName}}Invalid = 0,  /**< Not set or no mapping for the string value.*/
   {{#allowableValues.enumVars}}
        k{{enumName}}_{{name}}, /**< {{value}} */
   {{/allowableValues.enumVars}}
        k{{enumName}}End
    } k{{enumName}};
    /** Enum keeper/translator class. */
    typedef RTCRestStringEnum<k{{enumName}}> {{enumName}};

  {{/isEnum}}
 {{/vars}}
    /** @} */

{{/hasEnums}}
    /** @name Getters
     * @{ */
{{#vars}}
    /** Getter for {{name}}.{{#description}}
     * {{{this}}}{{/description}} */
 {{^vendorExtensions.x-cg-is-enum-type}}
  {{#vendorExtensions.x-cg-primitive-type}}
    {{this}} {{getter}}() const RT_NOEXCEPT { return m_{{name}}.{{vendorExtensions.x-cg-primitive-value-member}}; }
  {{/vendorExtensions.x-cg-primitive-type}}
  {{^vendorExtensions.x-cg-primitive-type}}
   {{^vendorExtensions.x-cg-is-polymorphic}}
    {{{vendorExtensions.x-cg-const-ref-data-type}}}{{getter}}() const RT_NOEXCEPT { return m_{{name}}; }
   {{/vendorExtensions.x-cg-is-polymorphic}}
   {{#vendorExtensions.x-cg-is-polymorphic}}
    {{{datatype}}} const *{{getter}}() const RT_NOEXCEPT { return m_p{{name}}; }
   {{/vendorExtensions.x-cg-is-polymorphic}}
  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{#vendorExtensions.x-cg-is-enum-type}}
    k{{enumName}} {{getter}}() const RT_NOEXCEPT { return m_{{name}}.get(); }
    const char *{{getter}}String() const RT_NOEXCEPT { return m_{{name}}.getString(); }
 {{/vendorExtensions.x-cg-is-enum-type}}
{{/vars}}
    /** @} */

    /** @name Setters
     * @{ */
{{#vars}}
    /** Setter for {{name}}.{{#description}}
     * {{{this}}}{{/description}} */
 {{^vendorExtensions.x-cg-is-enum-type}}
  {{#vendorExtensions.x-cg-primitive-type}}
    {{classname}} &{{setter}}({{this}} a_Value) RT_NOEXCEPT;
  {{/vendorExtensions.x-cg-primitive-type}}
  {{^vendorExtensions.x-cg-primitive-type}}
   {{^vendorExtensions.x-cg-is-string-type}}
    int {{setter}}({{datatype}} const &a_rValue) RT_NOEXCEPT;
    {{#vendorExtensions.x-cg-is-polymorphic}}
    /** Directly use @a a_pValue as the value for {{name}}, transfering ownership and everything. */
    {{classname}} &useAs{{name}}({{datatype}} *a_pValue) RT_NOEXCEPT;
    {{/vendorExtensions.x-cg-is-polymorphic}}
   {{/vendorExtensions.x-cg-is-string-type}}
   {{#vendorExtensions.x-cg-is-string-type}}
    int {{setter}}(RTCString const &a_rValue) RT_NOEXCEPT;
    /** Set {{name}} to the value of the C string @a a_pszValue.
     * @returns IPRT status code. */
    int {{setter}}(const char *a_pszValue) RT_NOEXCEPT;
   {{/vendorExtensions.x-cg-is-string-type}}
  {{/vendorExtensions.x-cg-primitive-type}}
  {{#isListContainer}}
    /** Append an element to {{name}}.
     * @returns IPRT status code.
     * @param a_Value   The value (copied).  */
    int {{vendorExtensions.x-cg-append-to-list}}({{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-append-to-list}}(const char *a_pszValue) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}
    /** Set an element in {{name}}.
     * @returns IPRT status code.
     * @param a_idx     The element index.
     * @param a_Value   The value (copied).  */
    int {{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, {{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-set-in-list}}(size_t a_idx, const char *a_pszValue) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}

  {{/isListContainer}}
  {{#isMapContainer}}
    /** Sets an element in the map {{name}}.
     * @returns IPRT status code.
     * @param a_pszKey  The key.
     * @param a_Value   The value (copied). */
    int {{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, {{{items.vendorExtensions.x-cg-const-ref-data-type}}}a_Value) RT_NOEXCEPT;
   {{#items.vendorExtensions.x-cg-is-string-type}}
    int {{vendorExtensions.x-cg-set-in-map}}(const char *a_pszKey, const char *a_pszValue, size_t a_cchValue = RTSTR_MAX) RT_NOEXCEPT;
   {{/items.vendorExtensions.x-cg-is-string-type}}
    /** Unsets an element from the map {{name}}.
     * @returns true if anything was removed, false if not found.
     * @param a_pszKey  The key to remove from the map. */
    bool {{vendorExtensions.x-cg-unset-from-map}}(const char *a_pszKey) RT_NOEXCEPT;
  {{/isMapContainer}}
  {{#isContainer}}
    /** Clear content of {{name}}. */
    {{classname}} &{{vendorExtensions.x-cg-clear-container}}() RT_NOEXCEPT;
  {{/isContainer}}
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{#vendorExtensions.x-cg-is-enum-type}}
    {{classname}} &{{setter}}(k{{enumName}} a_enmValue) RT_NOEXCEPT;
    int {{setter}}(const char *a_pszValue, size_t a_cchValue = RTSTR_MAX) RT_NOEXCEPT;
    int {{setter}}(RTCString const &a_rStrValue) RT_NOEXCEPT;
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{^vendorExtensions.x-cg-is-enum-type}}
  {{^vendorExtensions.x-cg-primitive-type}}
    /** Raw (direct) access to the {{name}} member, assuming for the purpose of setting.{{#vendorExtensions.x-cg-is-polymorphic}}
     * @warning May return NULL!{{/vendorExtensions.x-cg-is-polymorphic}} */
    {{{datatype}}} *raw{{name}}() RT_NOEXCEPT;
  {{/vendorExtensions.x-cg-primitive-type}}
 {{/vendorExtensions.x-cg-is-enum-type}}
 {{#hasMore}}

 {{/hasMore}}
{{/vars}}
    /** @} */

    /** Field bit numbers. */
    enum
    {
{{#parent}}
        kFieldParentLast = {{{this}}}::kFieldEnd - 1,
{{/parent}}
        {{#vars}}kField_{{name}},
        {{/vars}}kFieldEnd /**< Can be used to create mask for all fields (RT_BIT_64(kFieldEnd) - 1). */
    };

    /** @name Accessing the is-set indicators.
     * @{ */
    {{#vars}}
    bool is{{name}}Required() const RT_NOEXCEPT { return {{#required}}true{{/required}}{{^required}}false{{/required}}; }
    bool is{{name}}Set() const RT_NOEXCEPT      { return RT_BOOL(m_fIsSet & RT_BIT_64(kField_{{name}})); }
    void mark{{name}}Set() RT_NOEXCEPT          { m_fIsSet |= RT_BIT_64(kField_{{name}}); }
    void mark{{name}}Unset() RT_NOEXCEPT        { m_fIsSet &= ~RT_BIT_64(kField_{{name}}); }
    {{/vars}}

    bool areAllRequiredSet() const RT_NOEXCEPT  { return !(~m_fIsSet & (0{{#allVars}}{{#required}} | RT_BIT_64(kField_{{name}}){{/required}}{{/allVars}})); }
    bool isAnythingNotSet() const RT_NOEXCEPT   { return (~m_fIsSet & (RT_BIT_64(kFieldEnd) - 1)) != 0; }
    /** @} */
{{#allVars}}
{{#discriminatorValue}}
    // XXXX: discriminatorValue={{{discriminatorValue}}} var={{name}}
{{/discriminatorValue}}
{{/allVars}}

    /** @name Null testers
     * @{ */
{{#vars}}
 {{^vendorExtensions.x-cg-is-polymorphic}}
    bool is{{name}}Null() const RT_NOEXCEPT { return m_{{name}}.isNull(); }
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    bool is{{name}}Null() const RT_NOEXCEPT { return !m_p{{name}} || m_p{{name}}->isNull(); }
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
    /** @} */


protected:
    /** @name Data members.
     * @{ */
{{#vars}}
 {{^vendorExtensions.x-cg-is-polymorphic}}
    {{{datatype}}} m_{{name}};{{#description}} /**< {{{description}}} */{{/description}}
 {{/vendorExtensions.x-cg-is-polymorphic}}
 {{#vendorExtensions.x-cg-is-polymorphic}}
    {{{datatype}}} *m_p{{name}};{{#description}} /**< {{{description}}} */{{/description}}
 {{/vendorExtensions.x-cg-is-polymorphic}}
{{/vars}}
    /** @} */
};
AssertCompile({{classname}}::kFieldEnd < 64);
{{/vendorExtensions.x-model-primitive-base}}
{{#vendorExtensions.x-model-primitive-base}}
/** @todo proper class later, if needed (petshop only atm). */
typedef {{dataType}} {{classname}};
{{/vendorExtensions.x-model-primitive-base}}


{{/model}}{{/models}}
{{#cppNamespaceDeclarations}}} {{/cppNamespaceDeclarations}} /* (namespaces {{cppNamespace}}) */
{{#models}}{{#model}}
#endif{{/model}}{{/models}}

